*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.btncontainer{
    display: flex;
    gap: 1rem;
}

.btn{
    
    height: 10rem;
    width: 19rem;
    
}

.handcontainer{
    display: flex;
    margin-top: 4rem;
    
    
}

.playerhand, .computerhand{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 10rem;
    width: 19rem;
}

.playerhand{
    
}
.computerhand{
    
}

h1{
   display: flex;
   align-items: center;
   margin-top: 5rem;
   margin-left: 5rem;
   margin-right: 5rem;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.winner{
    display: inline; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    left: 25rem;
    top: 10rem;
    width: 50%; /* Full width */
    height: 25%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.winner_content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}