*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.btncontainer{
    display: flex;
    gap: 1rem;
}

.btn{
    
    height: 10rem;
    width: 19rem;
    
}

.handcontainer{
    display: flex;
    margin-top: 4rem;
    
    
}

.playerhand, .computerhand{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 10rem;
    width: 19rem;
}

.playerhand{
    
}
.computerhand{
    
}

h1{
   display: flex;
   align-items: center;
   margin-top: 5rem;
   margin-left: 5rem;
   margin-right: 5rem;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.winner{  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 25vw;
    top: 30vh;
    width: 50%; /* Full width */
    height: 25%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.winner_player, .winner_computer{
    margin: 0;
    font-size: 66px;
}
